@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background: url("../../assets/images/home-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}